.navbar-j {
    background-color: #090C9B;
    margin: 0;
    height: 7vh;
}

.navbar-j ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
}

.navbar-j ul a {
    margin-left: 5%;
    text-decoration: none;
    color: #EE7B49;
    font-weight: bold;
}

.navbar-j ul a:hover {
    color:#3066BE ;
    cursor: pointer ;
}