.listado {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 30px;
}

.coleccion {
    width: 40%;
}

.list-item {
    background-color: #6C534E !important;
    text-align: center;
}

.list-item:hover {
    cursor: pointer;
    background-color: #EE7B49 !important;
    color: #3066BE;
}