body {
    background-color: #3C3744;
    color: #EE7B49;
    font-weight: bold;
}

.contenedor {
    min-height: 98vh;
}

h1, h2, h3, h4, h5 {
    font-size: 2em;
    text-align: center;
}

.link-activo {
    color: #3066BE !important;
}